 

  <div class="card p-3 mt-4">
    <div class="card-body">
      <h6>Frequently used</h6>
      <div class="row">
        <div class="col-md-4" *ngFor="let item of freqData">
            <div class="card ml-3 inner-card">
                <div class="card-body" >
                    <h6>{{item.title}}</h6>
                  <p>{{item.description}}</p>
                  <p> <a href="" class="primary-color fw-bold">Ation CTA >></a> </p>
                </div>
              </div>
        </div>
      </div>
    </div>
 </div>
