<!-- header starts -->

<header>
  <app-header></app-header>
</header>

<!-- header ends -->

<!-- main container starts -->

<div class="container-fluid mb-3 main-container">
  <div class="row">

    <!-- left side container -->

    <div class="left-container col-md-4">
      <div class="card p-3 mt-4">
        <div class="card-body">
          <h6>welcome back <strong>{{userName}}</strong></h6>
          <p>{{currentDate | date :'mediumDate'}}</p>
        </div>
      </div>

      <div class="card p-3 mt-4">
        <div class="card-body">
          <h6 class="fw-bold">
            Wallet Balance
            <span class="fl-right"><i class="fa-solid fa-wallet primary-color"></i></span>
          </h6>

          <h3 class="fw-bold"><i class="fas fa-rupee-sign"></i>{{walletBalance}}</h3>
          <p>current Balance</p>
          <p>
            Running low <a href="" class="primary-color">Click here</a> to add
            more
          </p>
        </div>
      </div>

      <app-pending-actions></app-pending-actions>

    </div>

    <!-- left side container ends -->

    <!-- right container starts -->

    <div class="right-container col-md-8">
      <div class="card p-3 mt-4">
        <div class="card-body">
          <h6 class="fw-bold">Frequently used</h6>
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-start row">
                <ng-container *ngFor="let item of freqData">
                  <div class="col-md-4 col-12 mt-2">
                    <app-frequent
                      [title]="item.title"
                      [description]="item.description"
                    ></app-frequent>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-4 col-sm-4 col-12 mt-2">
          <select class="form-select">
            <option selected>All branches</option>
            <option *ngFor="let branch of branches">{{ branch }}</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-4 col-12 mt-2">
          <select class="form-select">
            <option selected>Custom range</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-4 col-12 mt-2">
          <mat-form-field class="custom-form-field">
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="selectedDate"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="card p-3 mt-4">
        <div class="card-body">
          <h6 class="fw-bold">Order Details</h6>
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-start row">
                <ng-container *ngFor="let item of orders">
                  <div class="col-md-3 col-12 mt-2">
                    <app-orders
                      [count]="item.count"
                      [title]="item.title"
                      [iconClass]="item.iconClass"
                    ></app-orders>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-start">
            <ng-container *ngFor="let item of counts">
              <div class="col-md-6 me-2 mt-5">
                <app-count [title]="item.title"></app-count>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- right container ends -->
  </div>

</div>

<!-- main container ends -->
