.inner-card{
    height: 240px;
}

.chart-indicator {
    width: 10px;
    height: 10px;
    border-radius: 4px;
  }
  
  .bg-initiated {
    background-color: #dbccdb;
  }
  
  .bg-pending {
    background-color:#a819a8;
  }
  
  .bg-signed {
    background-color: #ea03ea;
  }
  
  .bg-expired {
    background-color: #cbc4cb;
  }
  