<div class="card ml-3 inner-card">
  <div class="card-body">
    <h6 class="fw-bold">{{ title }}</h6>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="chart-indicator bg-initiated"></div>
              <span class="p-1">Initiated</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="chart-indicator bg-pending"></div>
              <span class="p-1">Pending</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="chart-indicator bg-signed"></div>
              <span class="p-1">Signed</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <div class="chart-indicator bg-expired"></div>
              <span class="p-1">Expired</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
